<% display_payment_methods_list = (@methods = payment_method.customer_payment_methods(@order, payment_method_type)).any? %>
<% shipping_address = @order.shipping_address %>
<% paypal = payment_method_type.eql?('paypal') %>
<% dropin = payment_method_type.eql?('dropin') %>
<% hosted = payment_method_type.eql?('custom') %>

<div class="clearfix">
  <% if display_payment_methods_list %>
    <%= label_tag 'saved_payment_methods', I18n.t("braintree.checkout.saved_payment_method.#{payment_method_type}") %>
    <%= select_tag "saved_payment_methods_for_#{payment_method.id}", options_from_braintree_payments(@methods, true), class: 'form-control saved-payment-methods' %>

    <% unless paypal %>
      <div class="radio show-new-payment">
        <label data-hook="braintree_payment_method_field">
          <%= link_to Spree.t(dropin ? :add_new_payment_method : :add_new_credit_card), '', id: 'show-new-payment' %>
        </label>
      </div>
    <% end %>
  <% end %>

  <% if paypal %>
    <div>
      <% unless display_payment_methods_list %>
        <div class="alert alert-warning">
          <%= I18n.t('braintree.admin.no_paypal_payments') %>
        </div>
      <% end %>
  <% else %>
    <div class="<%= display_payment_methods_list ? 'new-braintree-payment-method' : '' %>" style="<%= display_payment_methods_list ? 'display: none;' : '' %>">
  <% end %>

    <% if hosted %>
      <br/>
      <%= label_tag 'card_number_label', payment_method.preferred_number_placeholder %>
      <span class="required">*</span><br />
      <p id="hosted-fields-number" class="form-control"></p>

      <%= label_tag 'cvv_label', payment_method.preferred_cvv_placeholder %>
      <span class="required">*</span><br />
      <p id="hosted-fields-cvv" class="form-control"></p>

      <%= label_tag 'expiration_date_label', payment_method.preferred_expiration_date_placeholder %>
      <span class="required">*</span><br />
      <p id="hosted-fields-expiration-date" class="form-control"></p>
      <br/>
    <% elsif dropin %>
      <div id="payment-form"/>
    <% end %>
  </div>

  <% unless paypal %>
    <%= button Spree.t('actions.update'), 'save', 'submit', class: 'new-braintree-payment-method braintree-submit' %>
  <% end %>
</div>

<% if hosted %>
  <script src="https://js.braintreegateway.com/web/3.54.1/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.54.1/js/hosted-fields.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.54.1/js/three-d-secure.min.js"></script>
<% elsif dropin %>
  <script src='https://js.braintreegateway.com/web/dropin/1.30.1/js/dropin.min.js'></script>
<% elsif paypal %>
  <script src="https://js.braintreegateway.com/web/3.54.1/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.54.1/js/paypal-checkout.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.54.1/js/data-collector.min.js"></script>
<% end %>

<script type="text/javascript">
  $('#payment_payment_method_id_<%= payment_method.id %>').click(function (e) {
    var checkoutFormId = "new_payment";

    SpreeBraintreeVzero.advancedFraudTools = false;
    SpreeBraintreeVzero.paymentMethodID = "<%= payment_method.id %>";
    SpreeBraintreeVzero.checkoutFormId = "#" + checkoutFormId;
    SpreeBraintreeVzero.threeDSecure = false;
    SpreeBraintreeVzero.paypal = <%= paypal %>;
    SpreeBraintreeVzero.admin = true;
    SpreeBraintreeVzero.paypal_empty = <%= !display_payment_methods_list %>

    var clientToken = "<%= payment_method.client_token(@order) %>";
    var errorMessagesContainer = "col-md-12";

    var container = "payment-form";
    $('#' + container).empty();
    var checkout;

    <%= render(partial: 'spree/shared/braintree_vzero/dropin', locals: { shipping_address: shipping_address, payment_method: payment_method }, formats: [:js]) if dropin %>
    <%= render(partial: 'spree/shared/braintree_vzero/hosted', locals: { payment_method: payment_method }, formats: [:js]) if hosted %>
  });
</script>
