<% (@methods = payment_method.customer_payment_methods(@order, type)).each do |method| %>
  <div class="radio">
    <label data-hook="braintree_payment_method_field">

      <% if method.is_a?(Braintree::CreditCard) %>
        <%= radio_button_tag 'payment_method_token', method.token %>
        <%= Spree.t('admin.vaulted_payments.credit_card', card_type: method.card_type, last_4: method.last_4) %>
      <% end %>

      <% if method.is_a?(Braintree::PayPalAccount) %>
        <%= radio_button_tag 'payment_method_token', method.token %>
        <%= Spree.t('admin.vaulted_payments.paypal', email: method.email) %>
      <% end %>

    </label>
  </div>
<% end %>

<% if @methods.count.zero? %>
  <div class="alert alert-warning"><%= Spree.t('admin.vaulted_payments.cant_create_note') %></div>
<% end %>
