<fieldset data-hook="braintree_vzero">
  <legend><%= Spree.t(:braintree_vzero) %></legend>
  <table class="table table-condensed table-bordered">
    <tr>
      <th width="20%"><%= Spree.t(:transaction_id) %>:</th>
      <td><%= payment.source.transaction_id %></td>
    </tr>
    <tr>
      <th><%= Spree.t(:state) %>:</th>
      <td><%= payment.source.state %></td>
    </tr>
  </table>
</fieldset>
